<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plug Socket Garden</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id="main">
        <span id="left" class="toggle">.</span>Plug Socket Garden<span id="right">.</span>
        <br/>
        <button class="button" id="button" onclick="controlShelly()">On</button>
    </div>
</body>
</html>

