[Unit]
Description=Control garden plug

[Service]
User=root
WorkingDirectory=/home/pi/homecontrol/shelly
ExecStart=/usr/bin/bash -c 'cd /home/pi/homecontrol/shelly/ && source /home/pi/homecontrol/.venv/bin/activate && python shellyproxy.py'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
