<!doctype html>
<html>

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Garden Valve  {{version}}</title>
    </head>
    
    <body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id="main">
        <h1>Garden Valve Monitor {{version}}</h1>
        <button id="valve" onclick="press()">Open</button>
        <div>
            <table id="history">
            </table>    
        </div>
    </div>
    
</body>    

</html>