* { font-family: sans-serif;}

button {
  width: 20em;
  padding: 10pt;
  background-color: lightskyblue;
  border-radius: 5pt;
  font-size: larger;
}

#main {
  background-color: #eee;
  margin: auto;
  width: fit-content;
  border: none;
  border-radius: 5pt;
}

h1 {
  text-align: center;
  background-color: aquamarine;
}
#result {
  padding-left: 2em;
}